<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.first.dumka.room_book_app.std_room">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <queries>

        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StdRoom"
        android:usesCleartextTraffic="true">
        <activity
            android:parentActivityName=".Std_Room.Activityes.HomeTuitionActivity"
            android:name=".Std_Room.Activityes.HomeTuitionPayment"
            android:exported="true" />

        <activity
            android:name=".Std_Room.Activityes.HomeTuitionActivity"
            android:exported="true" />
        <activity
            android:name=".Std_Room.Activityes.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Std_Room.Activityes.Separate_Lodge_Details"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Std_Room.Activityes.Girls_Lodge_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Std_Room.Activityes.Boys_Lodge_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Std_Room.Activityes.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StdRoom.NoActionBar" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_HWabUvqVt2KTgE" />

    </application>


</manifest>